<%- include('partials/header') %>


<div class="d-flex bd-highlight margtop">
    <div class="p-2 flex-fill bd-highlight regcont">Dhrupad Sah</div>
    <div class="p-2 flex-fill bd-highlight regcont">SaiPranith</div>
  </div>


<%- include('partials/footer') %>
