<%- include('partials/header') %>

<div class="jumbotron">
    <h1 class="display-4 centered-top">Details you entered are incorrect :(</h1>
    
    <hr class="my-4">
    
    <a class="btn btn-light btn-lg" href="/login" role="button">Log In</a>

    <a class="btn btn-dark btn-lg" href="/" role="button">Home Page</a>

  </div>

  <%- include('partials/footer') %>
