<%- include('partials/header') %>

    <h1 class="faq">FAQs</h1>
<hr>
<div class="ans">
    <p>
        Q.) How safe is my identity while sharing my secret and viewing them?
    </p>
    <p>
        A.) You dont have to worry at all. We gave all the worrying part to GOOGLE. Your login credentials are not shared with us and is safe with your trustworthy Google.
    </p>
    <br>
    <p>
        Q.) Do I have to register for submitting a secret?
    </p>
    <p>
        A.) No you dont have to register or login for submitting a secret. Login is required only foor viewing them. We did this to avoid unwanted traffic on the website.
    </p>
    <br>
    <p>
        Q.) Who manages this website? Can I trust them?
    </p>
    <p>
        A.) This website is completely made by two of your own friends from college. The Backend work(Server side) is done by me, Dhrupad Sah(UG2) while the cool Frontend work is done by my friend Sai Pranith(UG2).
    </p>

</div>
    
<%- include('partials/footer') %>