<%- include('partials/header') %>

<h1 class="faq">Guidelines</h1>

<hr>

<p class="guidelineshead">
  While posting secrets, keep in mind:
</p>

<ul>
  <li class="bullet-padding">Do not post secrets that will offend others. If we find any we will take it down immediately on the person's request.</li>
  <li class="bullet-padding">Do not use abusive words or cuss words. We are trying to make this a place comfortable for everyone.</li>
  <li class="bullet-padding">Avoid spamming the same secret again and again. This might push someone else's secret way down.</li>
  <li class="bullet-padding">Avoid using direct name of your buddies. This might defame someone innocent and hurt someone you never intended to.</li>
  <li class="bullet-padding">Please read the FAQs section for some basic information about this website.</li>
  <li class="bullet-padding">We have provided a Contact Us page. Please message us if you feel any secret about you or someone needs to be taken down.</li>
  <li class="bullet-padding">Thats all!! These arent any rules. These are just some guidelines we hope you keep in mind to make this effort work!</li>
</ul>

  <%- include('partials/footer') %>
