<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
            integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="css/bootstrap-social.css" />
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="/">Secrets</a>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="/login">Login</a>
                    </li> -->
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="/submit">Submit</a>
                    </li> -->
                    <li class="nav-item active">
                        <a class="nav-link" href="/confessions">Secrets</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/faq">FAQs</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/guidelines">Guidelines</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>
